*{
    box-sizing: border-box;
}
body::after {
    content: "";
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: white;
    opacity: 1;
    visibility: visible;
    transition: .4s ease-out;
}

body.hide-blind::after {
    opacity: 0;
    visibility: hidden;
}

body{
    --text-color: #333333;
    --gray-500: #777;
    --gray-200: #CCC;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    font-family: 'Quicksand', 'Dosis', Courier, monospace;
}

.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2,0.7fr)  repeat(5, 1fr) 0.5fr;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   color: #777777;
   text-transform: uppercase;
   grid-column: 1/2;
    grid-row: 2/3;
}
.logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
   color: #777777;
   text-transform: uppercase;
    grid-column: 5/9;
    grid-row: 2/4;
}
.logo{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease-out;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.logo-name p {
    font-size: 1.5rem;
}
.search-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
   color: #777777;
    grid-column: 11/12;
    grid-row: 2/3;
}
.search-input{
    display: none;
}
.search{
    width: 1rem;
    height: 1rem;
    color: #777777
}
.torque-cont{
    height: 100%;
    width: 100%;
   color: #777777;
   padding-left: 2rem;
    grid-column: 2/5;
    grid-row: 3/4;
}
.torque-cont p:first-child, .power-cont p:first-child,
.engine-cont p:first-child , .acc-cont p:first-child
{
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0%;
    padding: 0%;
    /* text-indent: 3rem; */
}
.torque-cont hr, .power-cont hr {
    border: 1px solid #898989;
    height: 1px;
    width: 85%;
    background-color: #777777;
    text-align: left;
    margin: 0%;
}
#torque, #power{
    display: flex;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0%;
    padding: 0%;
    font-weight: lighter;
    
    /* text-indent: 3rem; */
}
#torque div > * , #power div > *{
    top: 0;
    transition: ease-in .9s;
}
.digit-cont{
    width: 2em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    display: flex;
}
.digit-cont span {
    position: relative;
}

.unit {
    font-size: .8rem;
    font-weight: bolder;
    padding-top: 2px;
}

.torque-cont p:last-child sup, .power-cont p:last-child sup{
    font-size: 1rem;
}
.power-cont{
    height: 100%;
    width: 100%;
   color: #777777;
    grid-column: 9/11;
    grid-row: 3/4;
}
.side-nav{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 3/8;
}

.product-label {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    grid-column: 5 / 8;
    grid-row:  3 / 4;
    letter-spacing: -1px;
    word-spacing: 5px;
}

.chevron{
    width: 40px;
}

.side-nav [data-direction=up] {
    transform: rotate(180deg);
    transform-origin: center;
}

#numbers p{
    transition: ease-in 0.5s;
}
.selected{
    font-size: 2.5rem;
    margin: 0%;
}
.main-display{
    width: 100%;
    height: 100%;
    grid-column: 2/11;
    grid-row: 4/7;
}
.scaling{
    animation: scaling .5s linear;
}
.main-display img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hide{
    display: none;
}
.engine-cont{
    grid-column: 2/8;
    grid-row: 7/8;
    padding-left: 2rem;
}
.acc-cont{
    grid-column: 9/11;
    grid-row: 7/8;
}
.engine-cont hr , .acc-cont hr {
    border: none;
    height: 1px;
    width: 85%;
    background-color: #777777;
    text-align: left;
    margin: 0%;
}
.engine-cont p:last-child , .acc-cont p:last-child {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #777777;
}

@keyframes scaling {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main {
        grid-template-rows: repeat(2,0.4fr) repeat(5, 1fr) 0.4fr;
        padding: 5px;
    }
    .menu {
        font-size: 0.7em;
    }
    
    .product-label{
        align-items: flex-start;
    }

    .logo-name p {
        font-size: .5em;
        font-weight: bold;
        text-align: center;
        margin: 0%;
    }

    /* #up , #down {
        width: 35px;
    } */
    .torque-cont p:first-child, 
    .power-cont p:first-child, 
    .engine-cont p:first-child, 
    .acc-cont p:first-child {
        font-size: .7em;
    }
    #torque, #power {
        font-size: 1em;
    }
    .first-sup {
        top: -21%;
        left: 59%;
    }
    .second-sup {
        top: -20%;
        left: 90%;
    }
    .torque-cont {
        padding-left: 0rem;
        grid-column: 2/5;
        grid-row: 3/4;
    }
    .main-display{
        grid-row: 4/6;
    }
    .side-nav{
        display: flex;
        grid-row: 7/8;
        grid-column: 1/12;
    }
    #numbers{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #numbers > p {
        margin: 0px 10px;
    }
    .selected{
        font-size: 1.7em;
    }
    
    .chevron {
        width: 25px;
        transform: rotate(270deg);
    }

    .torque-cont {
        padding-left: 5px;
        grid-column: 1/4;
    }

    .power-cont {
        grid-column: 8/11;
        padding-left: 5px;
    }

    .engine-cont {
        grid-column: 1/7;
        padding-left: 5px;
    }

    .acc-cont {
        grid-column: 7/11;
    }
    .side-nav [data-direction=up]{
        transform: rotate(90deg);
    }
    .engine-cont, .acc-cont{
        grid-row: 6/7;
        /* padding-left: 0rem */
    }
    .engine-cont p:last-child, .acc-cont p:last-child {
        font-size: .7em;
    }
    .acc-cont{
        grid-column: 8/11;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .engine-cont p:last-child, 
    .acc-cont p:last-child {
        font-size: 1rem;
    }
    
    .torque-cont p:first-child, 
    .power-cont p:first-child, 
    .engine-cont p:first-child, 
    .acc-cont p:first-child {
        font-size: 1rem;
    }
    #torque, #power{
        font-size: 2rem;
    }

    .product-label{
        position: relative;
        top: 30px;
        font-size: 1rem;
    }
}

